html, body {
    height: 100%;
}

body {
    background-image: url("../images/floor-tile.png");
    line-height: 1.7;
}

.container {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    background-color: #fefefe;
}

h1 {
    font-size: 70px;
}

#button-start, #button-done {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.question {
    font-size: 24px;
}

h2, #time-remaining {
    font-size: 2em;
}